:root {
  --pico-font-family-sans-serif: "Open Sans", sans-serif;
  --pico-font-size: 100%;
  --pico-spacing: 2rem;
}

[data-theme-switcher] {
  color: var(--pico-contrast);
  text-decoration: none;
  font-size: 1.5em;
}

.center,
.centre,
.feature-image {
  text-align: center;
}

.container:not(.wider) {
  max-width: 800px;
}

@media (width <=1250px) {
  .container:not(.wider) {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
  }

}
