<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/concrete.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="icon" type="image/png" href="/favicon.png">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="light dark">
  <title>{{ title }} | {{ site.name }}</title>
</head>

<body>

  {% include "partials/header.html" %}

  <main class="page-body" tabindex="-1" id="main-content">{% block content %}{% endblock %}</main>

  {% include "partials/footer.html" %}

</body>

</html>
