{% extends "layouts/base.html" %}

{% block content %}

  <ul>
  tags:
  {% for tag in tags %}
  <li><a href=/{{ tag }}>{{ tag }}</li>
  {% endfor %}
  </ul>

  <p>
  <i>
  {% if modified %}
  Last Modified:
  <time datetime="{{ modified | readableDate }}" data-pagefind-sort="date">{{ modified | readableDate }}</time>
  </i>
  |
  <i>
  {% endif %}
  Created:
  <time datetime="{{ page.date | readableDate }}" data-pagefind-sort="date">{{ page.date | readableDate }}</time>
  </i>
  </p>

  {% if summary %}
  <blockquote>
    {{ summary }}
  </blockquote>
  {% endif %}

<article>
  {{ content | safe }}
</article>
{% endblock %}
