:root {
  --fg: #1a1a1a;
  --bg: #e2e2e2;
  --font: Atkinson Hyperlegible Next, Arial, sans-serif;
  --font-h: Atkinson Hyperlegible Next, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #e2e2e2;
    --bg: #1a1a1a;
  }
}
