<header>
	<nav aria-label="Primary">
    <h3>
      <a href="/">{{ site.name }}</a>
      <a href="#" id="theme-toggle" role="button" aria-label="Toggle Theme">
        <i class="fa-solid fa-sun fa-sm icon-sun"></i>
        <i class="fa-solid fa-moon fa-sm icon-moon"></i>
      </a>
    </h3>
		<ul>
      [
			{% for item in navigation.items %}
      {% if loop.first %}
			<li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% else %}
			• <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% endif %}
			{% endfor %}
      ]
		</ul>
	</nav>
</header>
<script>
  (function () {
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
      document.documentElement.style.colorScheme = savedTheme;
    }
})();
</script>
