<header class="page-header">
	<div class="site-name">
		<a href="/" class="home-link">{{ site.name }}</a>
		<!-- <ul> -->
		<!-- <li> -->
		<!-- {% for link in socials.links %} -->
		<!-- <a href="{{ link.url }}"> -->
		<!-- <img class="icon" src="{{ link.img }}" alt="{{ link.text }}" /> -->
		<!-- </a> -->
		<!-- </li> -->
		<!-- {% endfor %} -->
		<!-- </ul> -->
	</div>
	<nav aria-label="Primary">
		<ul class="nav">
			{% for item in navigation.items %}
			<li class="nav-item"><a href="{{ item.url }}">{{ item.text }}</a></li>
			{% endfor %}
		</ul>
	</nav>
</header>